<div class="social">
	<h4>
	  <a target="_blank" href="http://github.com/xiahao90"><i class="fa fa-github"></i></a>
	  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=939065267&site=qq&menu=yes"><i class="fa fa-qq"></i></a>
	  <a target="_blank" href="{{ site.baseurl }}static/img/weixin.jpg"><i class="fa fa-weixin"></i></a>
	  <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=-4eWnpeekMbPv5mQh5KelpPRnJCS"><i class="fa fa-envelope-o"></i></a>
	  <a href="https://996.icu"><img src="https://img.shields.io/badge/link-996.icu-red.svg" alt="996.icu" /></a>
	</h4>
</div>