<div class="social">
	<h4>
	  <a target="_blank" href="http://github.com/xiahao90"><i class="fa fa-github"></i></a>
	  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=93906520267&site=qq&menu=yes"><i class="fa fa-qq"></i></a>
	  <a target="_blank" href="http://g.hiphotos.baidu.com/image/w%3D310/sign=7f2438f1b1fd5266a72b3a159b199799/b8014a90f603738d57983838b41bb051f919ecde.jpg"><i class="fa fa-weixin"></i></a>
	  <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=-4eWnpeekMbPv5mQh5KelpPRnJCS"><i class="fa fa-envelope-o"></i></a>
	</h4>
</div>